vocal_isolation/data_collection_prep/.DS_Store
DataWrangling/YoutubeExtractor/.ipynb_checkpoints/getYoutubelinks-checkpoint.ipynb
DataWrangling/YoutubeExtractor/wavfiles
DataWrangling/YoutubeExtractor/audioData
DataWrangling/YoutubeExtractor/.DS_Store
DataWrangling/YoutubeExtractor/node_modules/
DataWrangling/YoutubeExtractor/package-lock.json
DataWrangling/YoutubeExtractor/package.json
DataWrangling/YoutubeExtractor/links_titles2.txt